.App {
  text-align: center;
  padding: 1rem;
}

.App-title {
  display: block;
  padding: 1rem;
  border: 3px solid black;
}

.main-container {
  border: 1px solid black;
  min-height: 100vh;
}

.container {
  padding: 0 2em;
}

.main-div-container {
  flex-grow: 1;
}

.tab-container {
  background-color: #F6F6F6;
}

.typo:nth-child(3) {
  padding-top: 2em;
}

.select-category {
  width: 150px;
  height: 56px;
  margin-top: 2em;
}

.select-label {
  margin-top: 2em;
}